uvm/sim/xcelium.d
uvm/sim/tr_db.log
uvm/sim/xrun.history
uvm/sim/xrun.log
uvm/sim/waveform.vcd
uvm/sim/xrun.key
uvm/sim/waves.shm
uvm/sim/xcelium.shm
uvm/sim/.simvision
uvm/sim/xmvlog_4978.err
uvm/sim/xmvlog_5180.err
uvm/sim/xmvlog_5560.err
uvm/sim/signals.svwf
uvm/sim/simvision.dsn
uvm/sim/simvision.trn
uvm/sim/*.diag
uvm/sim/cov_work/
uvm/sim/.bpad/
uvm/sim/verilog.dump
uvm/sim/waveform.dsn
uvm/sim/waveform.trn
uvm/sim/run_1.log
uvm/sim/run_2.log
uvm/sim/run_3.log
uvm/sim/run_4.log
uvm/sim/run_5.log
uvm/sim/run_6.log
uvm/sim/run_7.log
uvm/sim/run_8.log
uvm/sim/run_9.log
uvm/sim/run_10.log
uvm/sim/run_11.log
uvm/sim/run_12.log
uvm/sim/run_13.log
uvm/sim/run_14.log
uvm/sim/run_15.log
uvm/sim/run_16.log
uvm/sim/run_17.log
uvm/sim/run_18.log
uvm/sim/run_19.log
uvm/sim/run_20.log
uvm/sim/run_21.log
uvm/sim/run_22.log
uvm/sim/run_23.log
uvm/sim/run_24.log
uvm/sim/run_25.log
uvm/sim/run_26.log
uvm/sim/run_27.log
uvm/sim/run_28.log
uvm/sim/run_29.log
uvm/sim/run_30.log
uvm/sim/run_31.log
uvm/sim/run_32.log
uvm/sim/run_33.log
uvm/sim/run_34.log
uvm/sim/run_35.log
uvm/sim/run_36.log
