uvm/sim/xcelium.d
uvm/sim/tr_db.log
uvm/sim/xrun.history
uvm/sim/xrun.log
uvm/sim/waveform.vcd
uvm/sim/xrun.key
uvm/sim/waves.shm
uvm/sim/xcelium.shm
uvm/sim/.simvision
uvm/sim/xmvlog_4978.err
uvm/sim/xmvlog_5180.err
uvm/sim/xmvlog_5560.err
uvm/sim/signals.svwf
uvm/sim/simvision.dsn
uvm/sim/simvision.trn
uvm/sim/*.diag
uvm/sim/cov_work/
uvm/sim/.bpad/
uvm/sim/verilog.dump
uvm/sim/waveform.dsn
uvm/sim/waveform.trn